@mixin btn-transition-effect {
  transition: top 0.2s ease-in, transform 0.3s 0.2s ease-in, background-color 0.2s ease;
}

@mixin btn-translate {
  transform: rotate3d(0, 0, 1, 90deg);
}

@mixin btn-translate-next {
  transform: rotate3d(0, 0, 1, 135deg);
}

.btn-wrapper {
  height: auto;

  .menu-toggle {
    min-height: 40px;
    padding: 0.25rem 0.5rem;

    .icon-bars {
      display: block;
      width: 2rem;
      height: 2px;
      background-color: $theme-color-white;
      position: relative;
      transition: transform 0.3s ease-in, background-color 0.2s ease;

      &::before,
      &::after {
        display: block;
        width: 2rem;
        height: 2px;
        background-color: $theme-color-white;
        content: "";
        position: absolute;
        left: 0;
        transition: top 0.3s 0.3s ease-in, transform 0.3s ease-in, background-color 0.2s ease;
      }

      &::before {
        top: 0.5em;
      }

      &::after {
        top: -0.5em;
      }
    }

    &:active {
      .icon-bars {
        transition: transform 0.3s 0.2s ease-in, background-color 0.2s ease;
        @include btn-translate-next;

        &::before {
          @include btn-transition-effect;
          @include btn-translate;
          top: 0;
        }

        &::after {
          @include btn-transition-effect;
          @include btn-translate;
          top: 0;
        }
      }
    }
  }

}

.menu--is-revealed {
  .menu-toggle {
    .icon-bars {
      transition: transform 0.3s 0.2s ease-in, background-color 0.2s ease;
      @include btn-translate-next;

      &::before {
        @include btn-transition-effect;
        @include btn-translate;
        top: 0;
      }

      &::after {
        @include btn-transition-effect;
        @include btn-translate;
        top: 0;
      }
    }
  }
}