* {

  outline: none;

}

html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  color: $theme-link-color;
  transition: all 0.2s ease;
}

a:hover,
a:active,
a:focus {
  transition: all ease-in-out 0.3s;
  color: $theme-primary-color;
}

a,
a:hover {
  text-decoration: none;
}

// form-control focus
.form-control:focus,
.form-select:focus {
  color: $theme-secondary-color;
  background-color: $theme-color-white;
  border-color: $theme-primary-color;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba($theme-primary-color, 0.5);
}

.btn-check:focus+.btn,
.btn:focus {
  box-shadow: 0 0 0 0 rgba($theme-primary-color, 0.5);
}